/*-------------------------------------------------------+
| Content Management System 
| http://www.phphelptutorials.com/
+--------------------------------------------------------+
| Author: David Carr  Email: dave@daveismyname.co.uk
+--------------------------------------------------------+*/

body {
  font-size: 80%;
  font-family:Arial, Helvetica, sans-serif;
  margin:0;
}

#wrapper {
	margin:auto;
	width:960px;
}



/*** Superfish SKIN ***/
.menu {
	float:			left;
	margin-bottom:	1em;
	padding:0px;
}
.menu a {
	padding: 		.75em 1em;
	text-decoration:none;
	color:#ffffff;
}
.menu a { 
	color:#ffffff;
}
.menu li {
	background:#000000;
	display:inline;
}



/* Footer informatiom */

#footer {
	clear:both;
	color:#000;
	height:auto;
	margin:auto;
	padding:10px;
	width:960px;
	margin-bottom:10px;
}


/* links ----------------------------------------------------------------------- */

a {
	 text-decoration:none;
	 color:#2d67a7;
	 background-color: inherit;
}

a:hover {
	 text-decoration:underline;
}




label {
	float:left;
	font-weight:bold;
	margin-right:10px;
	width:180px;
}

.button {
	background:#0D7ABF none repeat-x scroll bottom left;
	color:#ffffff;
	border:1px solid #00F;
	color:#ffffff;
	font-size:0.8em;
	padding:6px 14px;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

.none{
	
}
	
/* MESSAGES */
.hidethis { cursor:pointer; }
.msg-info, .msg-atten, .msg-ok, .msg-error { margin:3px 0; padding:10px 10px 10px 40px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.msg-info { background:#ADC2F7 6px center no-repeat; border:1px solid #6D94F7; color:#03C; }
.msg-atten { background:#FAE673 6px center no-repeat; border:1px solid #FEBD63; color:#C60; }
.msg-ok { background:#AEE893 6px center no-repeat; border:1px solid #8EC46C; color:#060; }
.msg-error { background:#F4B8B5 6px center no-repeat; border:1px solid #C94042; color:#900; }
/* END OF MESSAGES */

